:root{
  --mainHeaderBCColor: #dadde2;
  --mainHeaderSecundaryBC: #43655a;
}

*{
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  margin: 0;
  scrollbar-color: rgba(0, 0, 0, 0.529) white;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.529);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 600px){
  html{
    scrollbar-width: none;
    background-color: #b1bdc5;
  } 
}

body{
  margin: 0;
}

::selection{
  background-color: #f06;
  color: black;
}

.custom-shape-divider-top-1665858180 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1665858180 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1665858180 .shape-fill {
  fill: #DADDE2;
}